.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

#enterMsg {
  border: 1px solid rgb(179, 179, 179);
}

#sender-name {
  font-size: 10px;
  text-align: left;
  color: #888;
}

#enter-msg {
  border: 1px solid rgb(177, 177, 177);
}
